* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/* main div start */

.main {
    height: 680px;
    /* border: 2px solid; */
    background: url(../image/b1.jpg);
    background-size: 100% 118%;
    background-position: center;
}

.main .adv {
    height: 80px;
    /* background: brown; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.main .adv p {
    font-size: 30px;
    color: #ffffff;
    font-family: 'Lobster', cursive;
}

.main .adv ul li {
    display: inline;
}

.main .adv ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 0 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    transition: 1s;
}

.main .adv ul li a:hover {
    color: lightgray;
}

.main .adv .menu {
    height: 30px;
    width: 80px;
    text-align: center;
    line-height: 30px;
    border-radius: 20px;
    background-color: #01d07e;
    display: none;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main .thr {
    height: 210px;
    width: 440px;
    border: 5px solid #ffc107;
    margin: 130px 0 0 120px;
    position: relative;
}

.main .thr .joy {
    height: 150px;
    width: 430px;
    background-color: rgba(245, 245, 245, 0.92);
    position: absolute;
    top: 120px;
    left: 110px;
    padding: 20px 0 0 20px;
}

.main .thr .joy p {
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main .thr .joy div {
    font-size: 49px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #01d07e;
}


/* main div end */


/* some div start */

.some {
    /* height: 530px; */
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    padding: 90px 0px;
}

.some .dell {
    /* height: 350px; */
    width: 82.5%;
    /* background-color: #ffc107; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.some .dell .dolor {
    height: 350px;
    /* background-color: aqua; */
    margin-right: 30px;
    box-shadow: -3px -3px 10px black;
}

.some .dell .dev .hon {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.some .dell .dev .word {
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffc107;
    margin-top: 10px;
}

.some .dell .dev p {
    color: #545252;
    line-height: 25px;
    font-size: 17.9px;
}


/* some div end */


/* tour div start */

.tour {
    height: 455px;
    background: url(../image/b3.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    /* padding: 75px 0; */
    padding-top: 75px;
}

.tour .adve {
    color: #ffffff;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tour .will {
    color: #ffc107;
    font-size: 38px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tour .hiki {
    height: 155px;
    width: 82%;
    /* background-color: aqua; */
    margin: 60px auto;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr;
    gap: 25px;
}

.tour .hiki .air {
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    font-size: 37px;
    padding-top: 30px;
}

.tour .hiki .air p {
    color: #ffc107;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 8px;
}